{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block after_field_sets %}
    {{ block.super }}

    <fieldset class="module">
        <h2>Specifications</h2>

        {% for inline_admin_formset in inline_admin_formsets %}
            {% if inline_admin_formset.opts.model_name == "productspecs" %}
                {{ inline_admin_formset.formset.management_form }}

                {% for inline_admin_form in inline_admin_formset %}
                    <div class="form-row">
                        {{ inline_admin_form.form.specs }}
                    </div>
                    something
                {% endfor %}
            {% endif %}
        {% endfor %}
    </fieldset>
{% endblock %}
